URL=http://localhost:3000/api
SUPER_API_KEY='1U]s#5*jq52qWK?WW$u7*g~£e4`qS[s;Pi_6K[Rb7:kPSI}21g'
ACCESS_TOKEN='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwiaWF0IjoxNzM2Mjk5NTgzLCJleHAiOjE3Njc4NTcxODN9.U3FOfsZ7fZu9K6FtKKTreNfdYXyYSdMUIwqoDKfDj7Q'